* {
  font-family: "Poppins", sans-serif;
  color: rgb(26, 32, 44);
}

.lobster {
  font-family: "Lobster", sans-serif !important;
}

.poppins {
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
}
